VITE_SUPABASE_PROJECT_ID="dzcymhdhvkjqaxmvqvoz"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_vrtrFV588qWpbqubCpDvbw_VFIeiq_q"
VITE_SUPABASE_URL="https://dzcymhdhvkjqaxmvqvoz.supabase.co"

SUPABASE_URL="https://dzcymhdhvkjqaxmvqvoz.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_vrtrFV588qWpbqubCpDvbw_VFIeiq_q"
SUPABASE_JWKS_URL="https://dzcymhdhvkjqaxmvqvoz.supabase.co/auth/v1/.well-known/jwks.json"

TWILIO_ACCOUNT_SID="<YOUR_TWILIO_ACCOUNT_SID>"
TWILIO_AUTH_TOKEN="<YOUR_TWILIO_AUTH_TOKEN>"
TWILIO_PHONE_NUMBER="+15107377366"
